<app-add-info></app-add-info>
<h3 class="cart__smsHeader">Pass two-factor authentication</h3>
<div>
	<p class="cart__resendSmsText">
	  	Your second factor is required to complete login.
	</p>
	<p class="cart__resendSmsText">
	  	Please, enter Verification SMS Code:
	</p>
	
	<form [formGroup]="userVerificationForm" (ngSubmit)="onSubmitCode()">
	  	<div class="cart__form-group">
	    	<span class="cart__form-error">{{verificationSummary.codeMessage}}</span>
	      	<input 
	      		formControlName="token" class="cart__form-control" autocomplete="new-token" 
	      		[ngClass] = "{ 'cart__inputValidation--error' :  verificationSummary.codeMessage }">          	
	  	</div>
	    <div class="cart__form-group">
	      	<button type="submit" class="cart__submitButton">	          
	            Submit
	      	</button>
	    </div> 	
	</form>
</div>
