.information{
  text-align: left;
  color: black;
  padding: 10px 10px;
  margin: 20px 0px 0px 0px;
  font-size: 12px;
  font-family: 'Inter UI',sans-serif;
}
.color-href-information{
  color:#945ae0;
  text-decoration: none;
}
.container-information{
background-color: #e9ebee
}
